<!doctype html>
<html lang="ko">

<head>
    <%- include('../common/authHead.ejs') %>
</head>

<body>
  <!-- skip -->
  <div id="skip">
    <a href="#content">컨텐츠 바로가기</a>
  </div>
  <!-- //skip -->
  <input type="hidden" id="HOST" value="<%= locals.HOST%>"/>
  <div id="wrap">
    <section id="content" class="subpage">
      <header class="header">
    <%- include('../common/logo.ejs') %>
      </header>
      <div class="center-box">
        <div class="login-wrap">
          <div class="empty-box complete">
            <p class="sub-title"><strong class="tx-blue">회원가입</strong>이 완료되었습니다!</p>
          </div>

          <div class="btn-group">
            <!-- <a href="/dashboard" class="btn-l btn-bk"><span>서비스 시작하기</span></a> -->
            <a href="#!" class="btn-l btn-bk"><span>서비스 시작하기</span></a>
          </div>

        </div>
      </div>

    </section>

  </div>

  <!-- script -->
  <%- include('../common/joinScript.ejs') %>
</body>

</html>