<!doctype html>
<html lang="ko">

<head>
  <%- include('../common/authHead.ejs') %>
</head>

<body>
  <!-- skip -->
  <div id="skip">
    <a href="#content">컨텐츠 바로가기</a>
  </div>
  <!-- //skip -->

  <div id="wrap">
    <section id="content" class="subpage">
      <header class="header">
        <img src="../resource/images/common/logo_color.png" alt="오더체크"/>
      </header>
      <div class="center-box">
        <div class="login-wrap">
          <div class="empty-box complete">
            <p class="sub-title"><strong class="tx-blue">비밀번호 재설정</strong>이 완료되었습니다!</p>
            <p class="sub-txt">재설정된 비밀번호로 로그인해주세요.</p>
          </div>

          <div class="btn-group">
            <a href="/login" class="btn-l btn-bk"><span>로그인 페이지로 이동</span></a>
          </div>

        </div>
      </div>

    </section>

  </div>

  <!-- script -->
  <%- include('../common/authScript.ejs') %>
</body>

</html>