<!doctype html>
<html lang="ko">

<head>
    <%- include('../common/authHead.ejs') %>
</head>

<body>
  <!-- skip -->
  <div id="skip">
    <a href="#content">컨텐츠 바로가기</a>
  </div>
  <!-- //skip -->
  <input type="hidden" id="HOST" value="<%= locals.HOST%>"/>
  <div id="wrap">
    <section id="content" class="subpage">
      <header class="header">
        <img src="/public/ordercheck/images/common/logo_color.png" alt="오더체크"/>
      </header>
      <div class="center-box narrow">
        <div class="login-wrap">
          <div class="tbl-top-type02">
            <h2 class="title">카드 등록</h2>
            <p class="sub-txt">무료 체험기간 14일 이후 부터 결제가 진행됩니다.</p>
            <p class="sm">오더체크는 어떠한 결제정보도 직접 저장하거나 접근하지 않습니다.<br> 검증된 타사 결제 시스템을 통해 모든 카드정보는 암호화되어 해당 결제 회사에서 관리됩니다.</p>
          </div>

          <div class="btn-member-drop on">
            <dl>
              <dt><span class="company">월 결제 금액(VAT 금액)</span> <span class="desc"><var class="free_plan">2021.11.30</var>부터 시작</span></dt>
              <dd><strong class="price"><var class="won result_price">91,300</var></strong></dd>
            </dl>
          </div>

          <div class="tab-wrap type02">
            <ul class="tabs">
              <li class="on"><button type="button" class="tab-btn active" data-tab="tab1" onclick="changeCardType('personal')">개인카드</button></li>
              <li><button type="button" class="tab-btn" data-tab="tab2" onclick="changeCardType('company')">법인카드</button></li>
            </ul>
            <span class="slider" data-left="0"></span>
          </div>

          <section class="tab-content">
            <div class="content active" id="tab1">
              <div class="form-area">
                <label for="user_card01-1" class="inp-title">카드 번호</label>
                <div class="inp-phone">
                  <span class="inp">
                    <input type="tel" id="user_card01-1" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                  <span class="inp">
                    <input type="tel" id="user_card01-2" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                  <span class="inp">
                    <input type="tel" id="user_card01-3" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                  <span class="inp">
                    <input type="tel" id="user_card01-4" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                </div>
                <p class="warning-txt02 personal-card-warning" style="display: none;">카드 번호를 확인해주세요.</p>


                <label for="user_date" class="inp-title">유효기간</label>
                <div class="inp range">
                  <input type="tel" id="personal_user_date" maxlength="2" pattern="[0-9]{2}" placeholder="MM"required>
                  <span class="txt-form"> / </span>
                  <input type="tel" id="personal_user_date02" maxlength="4" pattern="[0-9]{2}" placeholder="YYYY"required>
                </div>
                <p class="warning-txt02 personal-expire-warning " style="display: none;">카드 유효기간을 확인해주세요.</p>

                <label for="user_pw" class="inp-title">비밀번호 앞 2자리</label>
                <div class="inp pw">
                  <input type="password" id="personal_user_pw" pattern="[0-9]{2}" maxlength="2" placeholder="**" required>
                  <span class="txt-form">**</span>
                </div>
                <p class="warning-txt02 personal-pw-warning " style="display: none;">카드 비밀번호 앞 두 자리를 입력해주세요.</p>
                <label for="user_phone" class="inp-title">생년월일 6자리</label>
                <div class="inp">
                  <input type="tel" id="personal_user_birth" pattern="[0-9]{6}" maxlength="6" placeholder="예:881030" required>
                </div>
                <p class="warning-txt02 personal-birth-warning " style="display: none;">생년월일을 확인해주세요.</p>

                <label for="user_email" class="inp-title">결제용 이메일</label>
                <div class="inp">
                  <input type="text" id="personal_user_email" placeholder="이메일">
                </div>
                <p class="warning-txt02 personal-email-warning " style="display: none;">정확한 이메일을 입력해주세요.</p>
                <p class="tx-gray">미입력 시 결제 관련 메일을 수신할 수 없습니다.</p>

              </div>
              <div class="btn-group">
                <button type="submit" class="btn-l btn-bk confirm" onclick="goSubscribeStep03()"><span>다음 </span></button>
              </div>
            </div>
            <div class="content active" id="tab2">
              <div class="form-area">
                <label for="user_card02-1" class="inp-title">카드 번호</label>
                <div class="inp-phone">
                  <span class="inp">
                    <input type="tel" id="user_card02-1" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                  <span class="inp">
                    <input type="tel" id="user_card02-2" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                  <span class="inp">
                    <input type="tel" id="user_card02-3" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                  <span class="inp">
                    <input type="tel" id="user_card02-4" pattern="[0-9]{4}" maxlength="4" required>
                  </span>
                </div>
                <p class="warning-txt02 company-card-warning " style="display: none;">카드 번호를 확인해주세요.</p>

                <label for="user_date" class="inp-title">유효기간</label>
                <div class="inp range">
                  <input type="tel" id="company_user_date" maxlength="2" pattern="[0-9]{2}" placeholder="MM" required>
                  <span class="txt-form"> / </span>
                  <input type="tel" id="company_user_date02" maxlength="4" pattern="[0-9]{4}" placeholder="YYYY" required>
                </div>
                <p class="warning-txt02 company-expire-warning" style="display: none;">카드 유효기간을 확인해주세요.</p>

                <label for="user_pw" class="inp-title">비밀번호 앞 2자리</label>
                <div class="inp pw">
                  <input type="password" id="company_user_pw" placeholder="**" pattern="[0-9]{2}" required>
                  <span class="txt-form">**</span>
                </div>
                <p class="warning-txt02 company-pw-warning " style="display: none;">카드 비밀번호 앞 두 자리를 입력해주세요.</p>

                <label for="user_phone" class="inp-title">사업자등록번호 10자리</label>
                <div class="inp">
                  <input type="tel" id="company_user_birth" pattern="[0-9]{10}" maxlength="10" placeholder="예:4623103469" required>
                </div>
                <p class="warning-txt02 company-birth-warning " style="display: none;">사업자번호를 확인해주세요.</p>

                <label for="user_email" class="inp-title">결제용 이메일</label>
                <div class="inp">
                  <input type="text" id="company_user_email" placeholder="이메일">
                </div>
                <p class="warning-txt02 company-email-warning " style="display: none;">정확한 이메일을 입력해주세요.</p>
                <p class="tx-gray">미입력 시 결제 관련 메일을 수신할 수 없습니다.</p>

              </div>
              <div class="btn-group">
                <button type="submit" class="btn-l btn-bk confirm" onclick="goSubscribeStep03()"><span>다음 </span></button>
              </div>
            </div>
          </section>


        </div>
      </div>

    </section>

  </div>


  <!-- script -->
  <%- include('../common/authScript') %>
  <script>
    //우측 탭
    tabFunc (".tab-wrap", true, function () {
      inpActiveFunc (".login-wrap .content.active",".confirm",null, true) //인풋 들의 value 값이 타이핑 되면 버튼 활성화
    }) //tab 영역 , slider 풀사이즈 여부
  </script>
</body>

</html>