<% 
 
    let title = locals.title;
%>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta name="naver-site-verification" content="">
<meta property="og:image" content="">
<meta http-equiv="Cache-Control" content="No-Cache">
<meta http-equiv="Pragma" content="No-Cache">
<meta name="language" content="ko">
<meta name="keywords" content="">
<meta name="description" content="">

<title><%= title %></title>

<!-- css, js 연결 -->
<link rel="stylesheet" href="/public/ordercheck/css/layout.css">
<link rel="stylesheet" href="/public/ordercheck/css/contents.css">
